@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

:root {
  --color-sari: #fdc913;
  --color-acik-gri: #5f5f5f;
  --color-koyu-gri: #292929;
  --color-kirmizi: #ce2829;
  --color-bej: #faf7f2;
}

.navbar {
  background-color: var(--color-kirmizi);
  color: var(--color-bej);
  text-align: center;
}

.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--color-kirmizi);
  color: var(--color-bej);
}

.app-bar .logo-container {
  padding: 2.5rem;
}
